<div id="menu">
    <center>
        <br>
        <ul>
            <strong>
                <li><a href="/public/error.html">Acerca de la Empresa</a></li>
                <li><a href="/public/error.html">Paguina Principal</a></li>
                <li><a href="/public/error.html">Contacto</a></li>
            </strong>
        </ul>
    </center>
</div>