<!DOCTYPE html>
<html lang="en">
<body>
    <div id="contenedor">
        <%-include('partials/encabezado.html')%>
        <%-include('partials/menu.html')%>
        <div id="contenedorTexto">
            <form method="post" action="/mostrar">
                <br>
                <label for="">Numero de Contador</label><br>
                <input type="text" value="<%=nContador%>" name="nContador" id="nContador" required><br><br>
                <label for="">Nombre</label><br>
                <input type="text" value="<%=nombre%>" name="nombre" id="nombre" required><br><br>
                <label for="">Domicilio</label><br>
                <input type="text" value="<%=domicilio%>" name="domicilio" id="domicilio" required><br><br>
                <label for="">Nivel de estudio</label><br>
                <select name="niEstudio" id="niEstudio" required>
                    <option value="-1" <% if(!niEstudio) { %> selected <% } %> disabled>Seleccione una opcion</option>
                    <option value="1" <% if(niEstudio === "1") { %> selected <% } %>>Licenciatura</option>
                    <option value="2" <% if(niEstudio === "2") { %> selected <% } %>>Maestría</option>
                    <option value="3" <% if(niEstudio === "3") { %> selected <% } %>>Doctorado</option>
                </select><br><br>
                <label for="">Pago dario base</label><br>
                <input type="number" value="<%=pDiaBase%>" name="pDiaBase" id="pDiaBase" required><br><br>
                <label for="">Dias Trabajados</label><br>
                <input type="number" value="<%=dTraba%>" name="dTraba" id="dTraba" required><br><br>
                <div id="botones">
                    <center>
                        <button type="submit">Enviar</button>
                        <button type="reset">Limpiar</button>
                    </center>
                </div>
                <br>
            </form>
        </div>
        <br>
        <br>
        <%-include('partials/piePagina.html')%>
    </div>
</body>
</html>