<!DOCTYPE html>
<html lang="en">
<body>
    <div id="contenedor">
        <%-include('partials/encabezado.html')%>
        <%-include('partials/menu.html')%>
                    
        <br>
        <div class="container">
            <%{
                let grado = "";
                let subtotal = 0; 
                let impusto = 0; 
                let totalpagar = 0; 
                let pagof = 0; 
                
                pagof = pDiaBase * dTraba; 
                if(niEstudio==="1") { 
                    subtotal = pagof * 1.20; 
                    grado = "Licenciatura"
                } else if (niEstudio==="2") { 
                    subtotal = pagof * 1.5;  
                    grado = "Maestría"
                } else if (niEstudio=="3"){ 
                    subtotal = pagof * 2; 
                    grado = "Doctorado"
                } 
                impuesto = subtotal * 0.16; 
                totalpagar = subtotal - impuesto; 
            %>
            <table class="table table-striped table-bordered table-hover table-success ">
                <thead class="table-dark">
                    <tr>
                        <th>Numero de Contador</th>
                        <th>Nombre</th>
                        <th>Domicilio</th>
                        <th>Nivel de estudio</th>
                        <th>Pago dario base</th>
                        <th>Dias Trabajados</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th><%=nContador%></th>
                        <th><%=nombre%></th>
                        <th><%=domicilio%></th>
                        <th><%=grado%></th>
                        <th><%=pDiaBase%></th>
                        <th><%=dTraba%></th>
                    </tr>
                </tbody>
            </table>
            <div>
                <center>
                    <label for="" class="">Subtotal: </label>
                    <input type="text" value="<%=subtotal%>">
                    <br><br>
    
                    <label for="" class="">Impuesto: </label>
                    <input type="text" value="<%=impuesto%>">
                    <br><br>
    
                    <label for="" class="">Total a pagar: </label>
                    <input type="text" value="<%=totalpagar%>">
                    <br> <br>
                </center>
            </div>
            <%
            }
            %>
        </div>
        <%-include('partials/piePagina.html')%>
    </div>
</body>
</html>